.yox-theme-wall-loading{}
.yox-theme-wall-loader{
    background: url(ajax-loader.gif) no-repeat center top;
    height: 32px;
}

.yox-theme-wall-loadedAll{ padding-bottom: 0; margin-bottom: 0 }
.yox-theme-wall-loadedAll .yox-theme-wall-loader{ display: none }

.yox-theme-wall-thumbnails{
    min-height: 49%;
}
    .yox-theme-wall-thumbnails a{
        display: inline-block;
        background: #333;
        opacity: .8;
        -webkit-transform: scale(1) translateZ(0);
        -moz-transform: scale(1);
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        position: relative;
        z-index: 1;
    }
    .yox-theme-wall-resizing .yox-theme-wall-thumbnails a{
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
    }
    @media only screen and (max-device-width:500px){
        .yox-theme-wall-thumbnails a{
            opacity: 1;

        }
    }
    .yox-theme-switcher-open .yox-theme-wall-thumbnails a{ opacity: .2; background: Transparent; }
    .yox-theme-wall-thumbnails a:hover{
        /*
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        */
        opacity: 1;
        z-index: 99;
    }

    .yox-theme-wall-thumbnails img{
        width: 100%;
        height: 100%;
        border: 0; /* For IE */
        visibility: hidden;

        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.5);
        -o-transform: scale(.5);

        -webkit-transition: -webkit-transform 300ms ease-out;
        -moz-transition: -moz-transform 300ms ease-out;
        -o-transition: -o-transform 300ms ease-out;
        transition: transform 300ms ease-out;
    }