.yoxviewPopup{ 
	position: fixed; 
	overflow: hidden; 
	border: solid 1px #666;
	background: White;
	display: none;
}
.yoxviewPopup_mobile{ border: none }
.yoxviewPopup_fill{ border: none }

.yoxviewPopup img{
	position: absolute;
	border: none;
	width: 100%;
	display: block;
	z-index: 1;
}

.yoxviewPopup div#info{ background: rgba(0,0,0,0.5); color: White; height: 30px; bottom: 0; left: 0; width: 100%; line-height: 30px; padding-left: 10px;}
.yoxviewPopupBackground{ position: absolute; top: 0; left: 0; background: rgba(0,0,0,0.8); display: none; height: 110%; width: 100%; }