.yox-theme-classic{
    background: none repeat scroll 0 0 #333333;
    color: White;
    border: solid 1px #333;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden !important;
}
.yox-theme-classic-title{
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.3), transparent) repeat scroll 0 0 transparent;
    font-size: 14pt;
    font-weight: normal;
    margin: 0; padding: 0;
    padding: 5px 15px;
    text-shadow: 1px 1px 0 Black;
}

.yox-theme-classic-gallery{
    position: relative;
    height: 400px;
    margin: 0 auto;
    background: #111;
    left: 0;
    top: 0;
    width: 100%;
}

    .yox-theme-classic-controls{
        position: absolute;
        top: 0; left: 0;
        z-index: 2000;
        background: rgba(0,0,0,.5);
        height: 54px; width: 100%;
        opacity: 0;
        -moz-transition: opacity 600ms ease;
        -webkit-transition: opacity 600ms ease;
        -o-transition: opacity 600ms ease;
        text-align: center;
    }
    .yox-theme-classic-controls-on{
        opacity: 1;
        display: block;
    }
    .yox-theme-classic-controls .yox-theme-classic-button{
        display: inline-block;
        width: 85px;
        height: 100%;
        margin-right: 1px;
        text-align: center;
        color: Transparent;
        line-height: 87px;
        font-size: 10px;
        background-image: url(../img/sprites.png);
        background-repeat: no-repeat;
        -moz-transition: color 500ms ease 0s, background-position 500ms ease 0s, background-color 300ms ease;
        -webkit-transition: color 500ms ease 0s, background-position 500ms ease 0s;
        -o-transition: color 500ms ease 0s, background-position 500ms ease 0s;
        -ms-transition: color 500ms ease 0s, background-position 500ms ease 0s;
        cursor: pointer;

    }
    .yox-theme-classic-controls .yox-theme-classic-button:hover{ color: White; }
    .yox-theme-classic-controls .yox-theme-classic-button-on{
        box-shadow: 0px 5px 15px rgba(0,0,0,.3) inset;
        background-color: rgba(255,255,255,.2);
    }
    .yox-theme-classic-controls .yox-theme-classic-button:active{
            background-color: rgba(255,255,255,.26);
    }
    .yox-theme-classic-controls .yox-theme-classic-button:last-child{ margin-right: 0; }
    .yox-theme-classic-controls .yox-theme-classic-button-fullscreen{ background-position: 0 0 }
    .yox-theme-classic-controls .yox-theme-classic-button-fullscreen:hover{ background-position: 0 -7px }
    .yox-theme-classic-controls .yox-theme-classic-button-slideshow{ background-position: -85px 0 }
    .yox-theme-classic-controls .yox-theme-classic-button-slideshow:hover{ background-position: -85px -7px }
    .yox-theme-classic-controls .yox-theme-classic-button-info{ background-position: -170px 0 }
    .yox-theme-classic-controls .yox-theme-classic-button-info:hover{ background-position: -170px -7px }
    .yox-theme-classic-controls .yox-theme-classic-button-thumbnails{ background-position: -255px 0 }
    .yox-theme-classic-controls .yox-theme-classic-button-thumbnails:hover{ background-position: -255px -7px }

    .yox-theme-classic-infoPanel{
        position: absolute;
        z-index: 1001;
        background: rgba(0,0,0,.9);
        color: White;
        width: 100%;
        padding-top: 1px;
        left: 0; bottom: 0;
        -moz-transition: opacity 300ms ease;
        -webkit-transition: opacity 300ms ease;
        -o-transition: opacity 300ms ease;
        -ms-transition: opacity 300ms ease;
        opacity: 0;
    }
        .yox-theme-classic-info{
            border-top: solid 1px rgba(255,255,255,.1);
            font-size: 11pt;
        }
            .yox-theme-classic-info-position{
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                color: #777;
                float: left;
                font-size: 8pt;
                line-height: 34px;
                width: 60px;
                white-space: nowrap;
                text-align: center;
                cursor: default;
            }
            .yox-theme-classic-info-position:hover{ color: White }
            .yox-theme-classic-info-text{
                display: inline-block;
                padding: 7px 10px;
            }
    .yox-theme-classic-controlBtn{
        position: absolute;
        z-index: 1000;
        width: 33%;
        height: 100%;
        top: 0;
        opacity: 0;
        -moz-transition: opacity 600ms ease-out;
        -webkit-transition: opacity 600ms ease-out;
        -o-transition: opacity 600ms ease-out;
        cursor: pointer;
    }
        .yox-theme-classic-controlBtn:hover{ opacity: .5 }
        .yox-theme-classic-controlBtn:active{ opacity: 1 }
        .yox-theme-classic-controlBtn-prev{ left: 0 }
        .yox-theme-classic-controlBtn-next{ right: 0 }

    .yox-theme-classic-controlBtn div{
        background-image: url(../img/sprites.png);
        background-repeat: no-repeat;
        width: 33px;
        height: 49px;
        position: absolute;
        top: 50%; margin-top: -25px;
    }
        .yox-theme-classic-controlBtn-prev div{ left: 30px; background-position: -194px -84px; }
        .yox-theme-classic-controlBtn-next div{ right: 30px; background-position: -287px -84px; }

.yox-theme-classic-viewer{ height: 100%; overflow: hidden; }
.yox-theme-classic-thumbnailsPanel{
    padding-top: 1px;
    height: 60px; background-color: #000; white-space: nowrap;
    position: relative;
}
.yox-theme-classic-loading .yox-theme-classic-thumbnailsPanel{
    background-image: url(../img/ajax-loader-data.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.yox-theme-classic-thumbnailsBtn{
    width: 27px;
    height: 100%;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    text-decoration: none;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    position: absolute;
    z-index: 101;
}
.yox-theme-classic-thumbnailsBtn_left{ left: 0; background-position: 0 -84px; }
.yox-theme-classic-thumbnailsBtn_left:hover{ background-position: -27px -84px; }
.yox-theme-classic-thumbnailsBtn_left:active, .yox-theme-classic-thumbnailsBtn_left.enabledThumbnailsButton{ background-position: -54px -84px }
.yox-theme-classic-thumbnailsBtn_right{ right: 0; background-position: -86px -84px; }
.yox-theme-classic-thumbnailsBtn_right:hover{ background-position: -113px -84px; }
.yox-theme-classic-thumbnailsBtn_right:active, .yox-theme-classic-thumbnailsBtn_right.enabledThumbnailsButton{ background-position: -140px -84px }


.yox-theme-classic-thumbnails{
    overflow: hidden;
    height: 100%;
    z-index: 100;
    bottom: 0; left: 0;
    background: rgba(0,0,0,.3);
    white-space: nowrap;
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    margin: 0 20px;
}
.yox-theme-classic-thumbnails a{ outline: none; height: 100%;  }
.yox-theme-classic-thumbnails img{ height: 100%; opacity: .6; margin-right: 1px; border: none }
.yox-theme-classic-thumbnails a:hover img, .yox-theme-classic-thumbnails a.selectedThumbnail img{ opacity: 1 }
.yox-theme-classic-thumbnails a:active{ }
/* #line{ position: absolute; width: 100%; height: 1px; left: 0; top: 0; background: rgba(255,255,255,.15) } */

.yox-theme-classic-description{
    padding: 12px 15px 15px;
    margin: 0;
    background: -moz-linear-gradient(center top , transparent, rgba(0, 0, 0, 0.2)) repeat scroll 0 0 transparent;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(255, 255, 255, 0.1) inset;
}
.yox-theme-classic-loader{
    background: url("../img/ajax-loader.gif") no-repeat scroll center center White;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    height: 60px;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    opacity: .6;
    position: absolute;
    top: 50%;
    width: 60px;
    z-index: 20;
    display: none;
}