body{ padding: 0; margin: 0; font-family: Calibri, Arial, Sans-Serif; overflow: hidden;  }
h1{ font-size: 14pt; color: #fff; margin: 0; padding: 0; display: inline; font-weight: normal }
header{ height: 35px; line-height: 34px; padding-left: 11px; background: Black; z-index: 2; overflow: hidden; }
header a{ color: #aaa; text-decoration: none }
header a:hover{ color: White }
#thumbnailsPanel{ height: 60px; background: #000; white-space: nowrap  }
#thumbnails{ margin: 0 20px; height: 100%; overflow: hidden; }
#thumbnails a{ opacity: 0.3; }
#thumbnails img{ height: 100%; border: none}
#thumbnails a.loadedThumbnail{ opacity: 0.5 }
#thumbnails a.selectedThumbnail, #thumbnails a:hover { opacity: 1; }
#thumbnails a.selectedThumbnail img{ opacity: 1 }
.thumbnailsBtn{
    width: 27px;
    height: 100%;
    background-image: url(../img/controls.png);
    background-repeat: no-repeat;
    text-decoration: none;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    position: absolute;
    z-index: 1;
}
#thumbnailsLeft{ left: 0; background-position: 0 -100px; }
#thumbnailsLeft:hover{ background-position: -27px -100px; }
#thumbnailsLeft:active, #thumbnailsLeft.enabledThumbnailsButton{ background-position: -54px -100px }
#thumbnailsRight{ right: 0; background-position: 0 -160px; }
#thumbnailsRight:hover{ background-position: -27px -160px; }
#thumbnailsRight:active, #thumbnailsRight.enabledThumbnailsButton{ background-position: -54px -160px }

#popupContainer{
    background: #0d0d0d;
    overflow: hidden;
}
#info{
    background: none repeat scroll 0 0 #0A0A0A;
    border-bottom: 1px solid #282828;
    border-top: 1px solid #151515;
    color: White;
    height: 29px;
    line-height: 28px;
    text-align: left;
}
#itemCounter{ color: #666; font-size: 0.8em; float: right; height: 100%; display: block; width: 50px; text-align: center; border-right: solid 1px #000 }
#infoTitle{ font-size: 12pt; margin: 0; padding: 0 0 0 10px; font-weight: normal;  float: left; height: 100%; display: block;}
#loader{
    background: url("../img/ajax-loader.gif") no-repeat scroll center center White;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    height: 60px;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    opacity: .6;
    position: absolute;
    top: 50%;
    width: 60px;
    z-index: 20;
    display: none;
}

#slideshowBtn{
    border-left: 1px solid #282828;
    color: #666666;
    display: block;
    float: right;
    font-size: 0.8em;
    height: 100%;
    text-align: center;
    text-decoration: none;
    width: 70px;
}
#slideshowBtn:hover, #slideshowBtn.slideshowBtn_on{ box-shadow: 0 2px 10px rgba(0,0,0,0.4) inset; color: #ddd; background: #222 }
#slideshowBtn.slideshowBtn_on{ color: White; }

.yoxviewControlBtn{
    display: block;
    width: 64px;
    height: 129px;
    top: 50%;
    margin-top: -64px;
    background-image: url(../img/controls.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    opacity: .1;
    -moz-transition: opacity 200ms ease-out;
    -webkit-transition: opacity 200ms ease-out;
}
.yoxviewControlBtn:hover{ opacity: .6 }
.yoxviewControlBtn_prev{ background-position: 0px 38px; left: 0; }
.yoxviewControlBtn_next{ background-position: -68px 38px; right: 0; }

#addBtn{
    float: right;
    font-size: 24pt;
    font-weight: bold;
    height: 100%;
    line-height: 30px;
    text-align: center;
    width: 30px;
    color: #333;
}
#addBtn:hover{ color: White }
#addPanel{
    position: absolute;
    z-index: 999999;
    width: 500px;
    height: 205px;
    background: Black;
    background: rgba(0,0,0,0.85);
    border-radius: 0 0 0 15px;
    padding: 15px;
    color: White;
    top: 0;
    right: 0;
    line-height: 2em;
    display: none;
}
#addPanel input{ width: 379px }
#addPanel label{ display: inline-block; width: 115px; }