.yoxviewFrame{
	position: absolute;
	overflow: hidden; 
	border: solid 1px #666;
}
.yoxviewFrame_mobile{ border: none }
.yoxviewFrame_fill{ border: none }

.yoxviewImg{
	position: absolute;
	border: none;

	display: block;
	z-index: 1;
}

.yoxviewFrame_fit .yoxviewImg{
    width: 100%;
    height: 100%;
}

.yoxviewFrame div#info{ background: rgba(0,0,0,0.5); color: White; height: 30px; bottom: 0; left: 0; width: 100%; line-height: 30px; padding-left: 10px;}
.yoxview_close{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    opacity: .4;
    cursor: pointer;
    background: url(img/close.png) no-repeat center center;

}
.yoxview_close:hover{ opacity: .9; }
.yoxview_close:active{ top: 0 }